// colors
$black: #334663;
$darkGrey: rgba(51, 70, 99, 0.6);
$grey: rgba(51, 70, 99, 0.46);
$lightGrey: rgba(51, 70, 99, 0.2);
$blue: #3ea0f0;
$orange: #fb8951;

// fonts
$primary: 'Rubik', sans-serif;

// borders
$primaryBorder: 1px solid $lightGrey;
